MediaCMS.contents = {
    sidebar: {
        navMenuItems: [{
                text: "Phóng sự",
                link: "qpvn.vn",
                icon: 'insert_drive_file',
            },
            {
                text: "Chuyên mục",
                link: "/tos",
                icon: 'insert_drive_file',
            },
            {
                text: "Phim tài liệu",
                link: "/contact",
                icon: 'insert_drive_file',
            }
        ],
        belowNavMenu: null,
        footer: 'Powered by <a href="//mediacms.io" title="mediacms.io" target="_blank">mediacms.io</a>',
    },
    uploader: {
        belowUploadArea: "{{PRE_UPLOAD_MEDIA_MESSAGE}}",
        postUploadMessage: "{{POST_UPLOAD_AUTHOR_MESSAGE_UNLISTED_NO_COMMENTARY}}",
    },
};